<div class="task-item" (click)="onTaskClicked()" [class.completed]="task.completed">
    <div class="check-box">
        <i class="material-icons">check</i>
    </div>

    <div class="task-text">
        {{ task.text }}
    </div>

    <div class="task-control-box" (click)="$event.stopPropagation()">
        <div class="task-control-button" (click)="onEditClicked()">
            <i class="material-icons">edit</i>
        </div>
        <div class="task-control-button is-danger"  (click)="onDeleteClick()">
            <i class="material-icons">delete</i>
        </div>
    </div>
</div>