@import '../node_modules/bulma/bulma.sass';

@import '@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; }
body { margin: 0;}

.alt-gradient-button {
    background: linear-gradient(to right, rgb(154, 3, 51), rgb(255, 36, 120));
    color: white;
    border: none;
    font-weight: 500;
    opacity: 0.8;

    &:hover {
        opacity: 1;
        color: white;
        box-shadow: 0px 0px 0px 2px rgba(black, 0.12);
    }

    &:active {
        opacity: 0.8;
    }

    &:focus {
        opacity: 1;
        color: white;
    }

    i.material-icons {
        margin-right: 5px;
        margin-left: -5px;
    }
}


